<%- layout('./layouts/boilerplate') %>

<h1 class="title">Admin Panel</h1>

<ul>
    <% for( let index = 0; index < news.length; index++ ) { %>
        <li class="d-flex flex-row justify-content-between flex-wrap">
        <a href="/articles/<%= news[index]._id %>" style="text-decoration: none;"><%= news[index].title %> </a>
        <div>
            <a href="/articles/edit/<%= news[index]._id %>" class="btn btn-outline-primary">Edit</a>
            <form action="/articles/delete/<%= news[index]._id %>" class="d-inline">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
        </li>
    <% } %>
</ul>