<%- layout('./layouts/boilerplate') %>

<h1 class="title">Admin Panel</h1>
<hr>
<a href="/admin/articles/new" class="text-decoration-none">Create New Article</a>
<hr>
<h2>List of articles</h2>
<ul>
    <% for( let index = 0; index < news.length; index++ ) { %>
        <li class="d-flex flex-row justify-content-between flex-wrap">
        <a href="/articles/<%= news[index]._id %>" style="text-decoration: none;"><%= news[index].title %> </a>
        <div>
            <a href="/admin/articles/edit/<%= news[index]._id %>" class="btn btn-outline-primary">Edit</a>
            <form action="/admin/articles/delete/<%= news[index]._id %>?_method=DELETE" class="d-inline" method="POST">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
        </li>
    <% } %>
</ul>