<%- layout('./layouts/boilerplate') %>

<h1 class="title">Admin Panel</h1>

<ul>
    <% for( let index = 0; index < news.length; index++ ) { %>
        <li>
        <a href="/articles/<%= news[index]._id %>"><%= news[index].title %> </a>
        <a href="/articles/edit/<%= news[index]._id %>" class="btn btn-primary"></a>
        <form action="/articles/delete/<%= news[index]._id %>">
            <button class="btn btn-outline-danger"></button>
        </form>
        </li>
    <% } %>
</ul>